.required-field::after {
    content: "*";
    color: red;
    margin-left:2px
  }
input {
  width: 100%;
  outline: none;
  height: 35px;
  line-height: 40px;
  border-radius: 4px;
}

input[type="submit"] {
  border: none;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 16px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.select-dropdown {
  position: relative;
  background-color: #c5c5c5;
  border-radius: 4px;
}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.table-imgs{ 
  display: block; 
  width: 3vw; 
  height: 3vw;
}

.show-img{
  border: 1px solid; 
  border-radius: 15px;
  display: block; 
  width: 10vw; 
  height: 9vw;
}