.required-field::after {
    content: "*";
    color: red;
    margin-left:2px
  }
input {
  width: 100%;
  outline: none;
  height: 35px;
  line-height: 40px;
  border-radius: 4px;
}

input[type="submit"] {
  border: none;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 16px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.select-dropdown {
  position: relative;
  border-radius: 4px;
}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.table-imgs{ 
  display: block; 
  width: 3vw; 
  object-fit: cover;
  border: 1px solid; 
  border-radius: 50%;
  height: 3vw;
  margin-left: auto;
  margin-right: auto;
}

.show-img{
  border: 1px solid; 
  object-fit: cover;
  border-radius: 15px;
  display: block; 
  width: 9vw; 
  height: 9vw;
}

.sm-container{
  width: 70%;
  text-align: left;
  background-color: #808080; 
  padding: 1rem; 
  border-radius: 10px
}

table th {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 14%;
  background-color: white;
  position: fixed;
  height: 102%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sidebar a:hover:not(.active) {
  background-color: #44a7fd;
  color: white;
}

div.content {
  margin-left: 12%;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

aside {
  color: #fff;
  width: 100%;
  padding-left: 20px;
  height: 100vh;
  background-image: linear-gradient(30deg , #56d8e4 10%, #9f01ea 90%);
  border-top-right-radius: 80px;
}

aside a {
  font-size: 16px;
  color: #fff;
  display: block;
  padding: 12px;
  padding-left: 30px;
  text-decoration: none;
  -webkit-tap-highlight-color:transparent;
}

aside a:hover {
  color: #3f5efb;
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

aside a i {
  margin-right: 5px;
}

aside p {
  margin: 0;
  padding: 40px 0;
}

body {
  font-family: 'Roboto';
  width: 100%;
  height: 100vh;
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-image: linear-gradient(30deg , #2d61f1 10%, #9f01ea 90%);
  color: white;
  margin: 4% auto;
  padding: 25px;
  border: 1px solid #888;
  width: 60%;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 99%;
}

.close:hover,
.close:focus {
  color: #2d61f1;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 99%;
}

.close2:hover,
.close2:focus {
  color: #2d61f1;
  text-decoration: none;
  cursor: pointer;
}

.button-71 {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 2px 15px;
  }
}

.card {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  color: white;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;
}

.card-content {
  padding: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.card-content .card-title {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}

.card-content .card-para {
  color: inherit;
  opacity: 0.8;
  font-size: 14px;
}

.card:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}

.card:hover:before {
  transform: translateX(-100%);
}

.card:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}

.card:hover:after {
  transform: translateX(100%);
}

body {
  /* background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.box-form {
  /* margin: auto;
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px; */
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  height: 980px;
  /* box-shadow: 0 0 20px 6px #090b6f85; */
}
@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
.box-form div {
  height: auto;
}
.box-form .right {
  width: 70%;
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: image-url('cafe_beans_2.png');
  overflow: hidden;
}
.box-form .right .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  background: #5961f9ad;
  overflow: hidden;
  box-sizing: border-box;
}
.box-form .right .overlay h1 {
  font-size: 6vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
}
.box-form .right .overlay span p {
  margin-top: 30px;
  font-weight: 900;
}
.box-form .right .overlay span a {
  background: #3b5998;
  color: #FFFFFF;
  margin-top: 10px;
  padding: 14px 50px;
  border-radius: 100px;
  display: inline-block;
  box-shadow: 0 3px 6px 1px #042d4657;
}
.box-form .right .overlay span a:last-child {
  background: #1dcaff;
  margin-left: 30px;
}
.box-form .left {
  flex: 1; /* Adjust based on the width you want */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 26%;
  padding: 40px;
  overflow: hidden;
}
@media (max-width: 980px) {
  .box-form .left {
    width: 100%;
  }
}
.box-form .left h5 {
  font-size: 3vmax;
  line-height: 1;
}
.box-form .left p {
  font-size: 14px;
  color: #B0B3B9;
}

label {
  display: block;
  position: relative;
  margin-left: 3px;
}